.image{
    display: flex;
    margin-top: 50px;
}

.formulario {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    height: 50%;


}

.lista {
    display: flex;
    text-align: left;
}

.lis{
    display: flex;
    margin: 0;
} 

.texto{
    padding: 0px 10px 0px 10px;
    margin-left: -35px;
}

.box {
    display: inline;
    margin: 10px;
}

